{{define "todo-item"}}
{{range .}}
    <li id="todo-{{.ID}}" class="flex items-center justify-between p-2 border-b">
        <span class="cursor-pointer" 
            hx-put="/todos/{{.ID}}/edit" 
            hx-trigger="click" 
            hx-target="this"
            hx-swap="outerHTML"
        >
            {{.Task}}
        </span>

        <input type="hidden" name="done" value="{{.Done}}">

        <button hx-delete="/todos/{{.ID}}" 
            hx-target="#todos" 
            class="p-2 bg-red-500 text-white rounded"
        >
            Delete
        </button>
    </li>
{{end}}
{{end}}
